@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    font-weight: 400;
    color: #00001A;
}

a {
    text-decoration: none;
    color: #00001A;
}

/* img {
    width: 100%;
} */

.container {
    max-width: 1110px;
    margin: 89px auto 130px;
    /* background: #808080; */
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}

.nav-items {
    margin: auto 0;
}

.nav-items a {
    margin-right: 40px;
    color: #5E607A;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.nav-items a:last-of-type {
    margin-right: 0;
}

.grid-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin-bottom: 72px;
}

.hero-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    max-width: 730px;
    margin-top: 30px;
}

.hero-grid h1 {
    width: 350px;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: 56px;
}

.hero-grid p {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

.btn.hero-btn {
    background: #F15D51;
    color: #FFFDFA;
    padding: 12px 32px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 4.375px;
    margin-top: 16px;
    display: inline-block;
}

.top-right {
    background: #00001A;
    color: #FFFDFA;
    padding: 32px 24px;
}

.top-right h2 {
    color: #E9AA52;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 34px;
}

.top-right h4 {
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 24px;
    margin-bottom: 8px;
}

.top-right p {
    padding-bottom: 29px;
    border-bottom: 1px solid #5E607A;
    color: #C5C6CE;
    margin-bottom: 31px;
}

.top-right div:last-child p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.grid-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.grid-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 24px;
}